
  <% if notice %>
    <script type="text/javascript">
      alert("<%= notice %>")
    </script>
  <% end %>
  <div class="ui google plus button " style="float: right;font-size: 14px;height: 35px" >
    新增
  </div>


  <div class="ui divider" style="margin-top: 44px"></div>
  <i class="circular heart icon link" data-content="这是反色的弹出框。" data-variation="inverted" ></i>

  <a href="<%= url_for rou_users_path(:format => :xls) %>">xls</a>

  <%= link_to 'out',destroy_rou_user_session_path ,:method => :delete %>
  <div class="ui labeled icon button">
    <i class="pause icon"></i>
    暂停
  </div>
  <div class="ui right labeled icon button">
    <i class="right arrow icon"></i>
    下一曲
  </div>

<script type="text/javascript">
  $(function(){
    $('.circular.heart.icon.link').popup().click(function(){
      $('.vertical.sidebar').first().sidebar('toggle');
    });
  })
</script>
<style type="text/css">
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
</style>