
<% if notice %>
    <script type="text/javascript">
      alert("<%= notice %>")
    </script>
    <% end %>
<%= link_to 'out',destroy_user_session_path ,:method => :delete %>
<a href="<%= url_for users_path(:format => :xls) %>">xls</a>
<i class="circular heart icon link" data-content="这是反色的弹出框。" data-variation="inverted"></i>


<div class="ui labeled icon button">
  <i class="pause icon"></i>
  暂停
</div>
<div class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  下一曲
</div>

<script type="text/javascript">
  $(function(){
    $('.icon').popup().click(function(){
      $('.vertical.sidebar').first().sidebar('toggle');
    });
  })
</script>
<style type="text/css">
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
</style>