<div class="ui google plus button" style="float: right;font-size: 14px;height: 35px" >
  <a href="<%= url_for rou_articles_path %>" style="color: white">返回</a>
</div>

<div class="ui divider" style="margin-top: 44px"></div>
<%= render 'form' %>


